.container {
    display: flex;
    width: 100%;
}

.panel {
    background: rgb(48, 61, 77);
    width: 20rem;
    height: 100vh;
    color: white;
    padding: 1rem;
    position: sticky;
    top: 0;
}

.menu_title {
    color: rgba(255, 255, 255, .5);
}

.submenu_title {
    padding: 1rem 0;
    display: flex;
    align-items: center;
}

.items {
    display: flex;
    flex-direction: column;
}

.item_title {
    padding: .1rem 2.4rem;
    color: rgba(255,255,255,.7);
    text-decoration: none;

    &:hover {
        color: white;
        text-decoration: none;
    }
}

.area {
    background: white;
    width: 100%;
    min-height: 100vh;
}

.area_title {
    font-size: 1.3rem;
    padding: 1rem;
    border-bottom: 2px solid rgb(48, 61, 77);;
    margin-bottom: 1rem;
    color: rgba(0,0,0,.7);
}