.container {
    padding: 1rem;
    background-color: white;
    color: black;
}

.header {
    display: flex;
    align-items: center;

    &__title {
        font-size: 1.3rem;
        font-weight: 600;
    }
}

.subtitle {
    padding-top: .5rem;
    padding-bottom: 2rem;
}

.remark {
    padding-top: 2rem;
    padding-bottom: .5rem;
    font-size: .8rem;
}