@import '../../../styles/colours.styles.scss';

.card {
    width: 17rem !important;
    border: 0 !important;
}

.card_image {
    width: 17rem;
    height: 17rem;
}

.card_body {
    background-color: theme-color("dark");
    color: white;
    border: 1px solid white;
}

.star {
    color: theme-color("orange");
    margin-right: .25rem;
}

.description {
    font-size: .8rem;
    min-height: 2.375rem;
}