@import '../../../styles/colours.styles.scss';

.card_image {
    width: 13.9rem;
    height: 13.9rem;
}

.star {
    color: theme-color("orange");
    margin-right: .25rem;
}

.description {
    font-size: .8rem;
}