@import "../../styles/colours.styles.scss";

.image {
    padding: var(--spacing);

    img {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        display: flex;
        background-color: white;
    }

    .image {
        width: 50%;
    }
    
    .text_container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
 
.main {
    padding: var(--spacing);
    padding-bottom: 0;
    padding-top: 0;
}

.sub {
    padding: var(--spacing);
    color: theme-color("darkGrey");
}

.highlight {
    color: theme-color("lightBlue");
}

.button {
    margin: var(--spacing);
    margin-top: 0;
}