.toast {
    transition: transform .3s ease-in-out;
	animation: toast-in-right .3s;
	z-index: 10000;
}

@keyframes toast-in-right {
	from {
	  transform: translateX(100%);
	  opacity: 0.8;
	}
	to {
	  transform: translateX(0);
      opacity: 1;
	}
}