@import "../../styles/colours.styles.scss";

.auth_container {
    background-color: white;
    padding: 1rem;
    padding-top: 3rem;

    @media (min-width: 992px) {
        width: 66%;
        margin: 0 auto;
        padding-top: 4rem;
    }
}

.title {
    font-size: 1.7rem;
    font-weight: 700;
}

.subtitle {
    color: rgba(0,0,0,.7);
}

.line {
    display: flex;
    align-items: center;
    width: 100%;
    color: rgba(0,0,0,.7);
    margin-top: 1rem;

    span:first-of-type, span:last-of-type {
        width: calc(50% - 4.5rem);
        height: 1px;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }

    span:first-of-type {
        margin-right: var(--spacing);
    }

    span:last-of-type {
        margin-left: var(--spacing);
    }
}

.button {
    width: 100%;
    margin: 1rem 0;
    margin-bottom: 0;
    display: flex !important;
    align-items: center;
    justify-content: space-between;

    span {
        flex: 1;
    }
}

.link {
    margin-top: 1rem;
    color: theme-color("darkBlue");
    cursor: pointer;

    &:hover {
        color: theme-color("lightBlue");
    }
}