@import "../../styles/colours.styles.scss";

.auth_container {
    background-color: theme-color("dark");
    color: white;
    padding: 1rem;
    padding-top: 5rem;
    min-height: 100vh;

    @media (min-width: 992px) {
        height: unset;
        width: 66%;
        margin-left: 17%;
        padding: 2rem;
        padding-top: 7rem;
        // border: 1px solid white;
        border-radius: .3rem;
    }
}

.title {
    font-size: 1.7rem;
    font-weight: 700;
}

.alertinfo {
    background-color: theme-color("dark");
    color: rgba(255, 255, 255,.5);
    margin: 1rem 0;
    border: 1px solid white;
    padding: 1rem;
    border-radius: .3rem;
    position: relative;

    span {
        position: absolute;
        display: block;
        background: theme-color("dark");
        color: white;
        bottom: -1rem;
        right: 3rem;
        padding: .3rem 1rem;
    }
}

.line {
    display: flex;
    align-items: center;
    width: 100%;
    color: rgba(255,255,255,.7);
    margin-top: 1rem;

    span:first-of-type, span:last-of-type {
        width: calc(50% - 4.5rem);
        height: 1px;
        border-bottom: 1px solid rgba(255,255,255,.1);
    }

    span:first-of-type {
        margin-right: var(--spacing);
    }

    span:last-of-type {
        margin-left: var(--spacing);
    }
}

.button {
    width: 100%;
    margin: 1rem 0;
    margin-bottom: 0;
    display: flex !important;
    align-items: center;
    justify-content: space-between;

    span {
        flex: 1;
    }
}

.link {
    margin-top: 1rem;
    color: theme-color("darkBlue");
    cursor: pointer;

    &:hover {
        color: theme-color("lightBlue");
    }
}