@import "../../styles/colours.styles.scss";

.list {
    background: transparent !important;
}

.item {
    display: flex !important;
    flex-direction: row;
    background: transparent !important;
    border: 0 !important;
}

.icon_container {
    margin-right: 1rem;
    padding-top: .3rem;
    width: 4rem;

    @media (min-width: 992px) {
        padding-top: .5rem;
    }
}

.icon {
    color: rgba(255, 255, 255, .5);
    font-size: 2rem;

    @media (min-width: 992px) {
        font-size: 3rem;
    }
}

.menuelement {
    width: 100%;
}

.main {
    font-size: 1.2rem;
    font-weight: 300;
    color: theme-color("light");

    @media (min-width: 992px) {
        font-size: 1.5rem;
    }
}

.sub {
    color: theme-color("lighter");
}