@import "./styles/colours.styles.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

.btn {
  border: 0 !important;
  padding: 1rem !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;

  &-dark {
    background-color: theme-color("dark") !important;
    color: theme-color("light") !important; 
  }

  &-dark-small {
    background-color: theme-color("dark") !important;
    color: theme-color("light") !important; 
    padding: .5rem !important;
  }

  &-light {
    background-color: theme-color("light") !important;
    color: theme-color("dark") !important; 
  }

  &-blue {
    background-color: theme-color("darkBlue") !important;
    color: theme-color("light") !important; 
  }

  &-orange {
    background-color: theme-color("orange") !important;
    color: theme-color("light") !important;
  }

  &-red {
    background-color: theme-color("red") !important;
    color: theme-color("light") !important;
  }

  &-facebook {
    background-color: rgb(66,103,178) !important;
    color: theme-color("light") !important;
  }
}

@import '~bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  font-family: 'Roboto Slab', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background: rgb(27, 28, 30);
  // background-color: white;
  // background: rgb(238, 238, 238);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
