@import "./styles/colours.styles.scss";

.btn-action-blue {
  background-color: theme-color("darkBlue") !important;
  color: theme-color("light") !important;
  border: 0 !important;
  border-radius: 10px !important;
}

.btn-orange {
  background-color: theme-color("orange") !important;
  color: theme-color("light") !important;
  border: 0 !important;
  border-radius: 10px !important;
}

@import '~bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
