.container {
    background: white;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

.action_icons {
    padding: .5rem;
}

.action_list {
    ul {
        list-style-type: none;
        display: flex;
        margin: 1rem;

        li {
            margin-right: 1rem;
        }
    }
}

.link, .link:hover {
    color: inherit;
    text-decoration: inherit;
    transition: all .3s ease;
    
    &:hover {
        color:rgb(147, 29, 27);
    }
}

.logocontainer {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.logoname {
    font-size: 2rem;
    color: rgb(29, 27, 32);
    font-weight: 500;
    margin-right: 1rem;

    span {
        color: rgb(147, 29, 27);
        font-weight: 900;
    }
}

.logo {
    width: 4rem;
    height: 4rem;

    img {
        max-width: 100%;
        height: auto;
    }
}

.importantlink {
    color: rgb(147, 29, 27);
}