@import '../../../styles/colours.styles.scss';

.container {
    border-radius: .5rem;
    background-color: theme-color("light");
    padding: 0 !important;
}

.header {
    display: flex;
    align-items: center;

    &__image {
        width: 5rem;
        height: 5rem;
        margin: 1rem;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        padding-bottom: 2rem;

        &_name {
            font-size: 2rem;
            font-weight: 700;
        }
    }
}

.rating {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;

    &__name {
        position: absolute;
        top: -1.5rem;
        color: theme-color("orange");
    }
}

.review {
    width: 100%;
    padding: 1rem;
    background-color: theme-color("dark");
    color: rgba(255, 255, 255, .7);
    border: 1px solid white;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}